*{
    font-family: 'Manrope', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #4C4C5B;
    color: #2DE1C2;
    overflow: hidden;

}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #2DE1C2;
    font-size: 1.2rem;
}

a:hover{
    color: #ffffff;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #34343e72;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: #BA1F33;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action-btn:hover{
    scale: 1.05;
    color: #fff;
}

.action-btn:active{
    scale: 0.95;
}


/*Dropdown*/

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive */
@media (max-width: 1000px) {
    .navbarlinks,
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}


.content{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
}

@media (max-width: 580px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.balance-container{
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem;
    background-color: #BA1F33;
    min-width: 20vh;
    border: none;
    border-radius: 15px;
}

#title-bar {
    -webkit-app-region: drag;
    height: 24px; 
    background-color: darkviolet;
    padding: none;
    margin: 0px; 
}
   
#title {
    position: fixed;
    top: 0px;
    left: 6px; 
}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

