*{
    font-family: 'Fire Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: #f4f4f9;
    color: #333;

}

header {
    background: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
}

#dashboard {
    margin: 20px;
}